*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: auto;
    padding: .5rem;
    background-color: black;
}

.container header {
    width: 80%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 0 auto;
    align-items: center;
}

ion-icon {
    display: none;
}

header h2 {
    color: white;
}

header ul, a {
    display: flex;
    margin: 1rem;
    color: white;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
}

.hero-arc {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.hero-arc h2 {
    font-size: 5rem;
    color: white;
}

.hero-arc button {
    width: 20%;
    padding: .5rem 1rem;
    background-color: #FFAD03;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero {
    background-image: url('/img/bg.jpg');
    width: 100%;
    height: 100vh;
}

@media (max-width: 767px) {
    .hero-arc h2 {
        font-size: 2rem;
    }

    .hero-arc button {
        top: 200%;
    }
}

.product-line{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    margin: 1em;
}

.product-line img{
    width: 100%;
}

footer{
    background-color: brown;
}