*{
    margin: 0;
    padding: 0;
    border: solid black 1px;
}

main{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "hero hero"
    "ph1 ph2"
    "ph3 ph3"
    "ph4 ph5"
    "footer footer";
    grid-gap: 1em;
    padding: 1em;
}

header{
   grid-area: header;
}

.nav{
    grid-area: nav;
}

.hero{
    grid-area: hero;
}

.ph1{
    grid-area: ph1;
}

.ph2{
    grid-area: ph2;
}

.ph3{
    grid-area: ph3;
}

.ph4{
    grid-area: ph4;
}

.ph5{
    grid-area: ph5;
}

footer{
    grid-area: footer;
}