*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: auto;
    padding: .5rem;
    background-color: black;
}

.container header {
    width: 80%;
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 auto;
    align-items: center;
}

header h2 {
    color: white;
}

header ul, a {
    display: flex;
    margin: 1rem;
    color: white;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
}

/* cover billed */
.hero-arc {
    position: absolute;
    top: 85%;
    left: 33%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.hero-arc h2 {
    font-size: 5rem;
    color: white;
}

.hero-arc button {
    width: 10%;
    padding: 1rem 1rem;
    background-color: #FFAD03;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    outline: none;
}

.hero img{
    width: 100%;
    height: 100vh;
}

/* produkter */
.product-line{
    display: grid;
    grid-template-areas: 
    "p1 p2 p3 p4 p5";
    grid-gap: 4em;
    margin: 4em;
}

.product-line img{
    width: 100%;
}

.p1{
    grid-area: p1;
}

.p2{
    grid-area: p2;
}

.p3{
    grid-area: p3;
}

.p03 {
    display: none;
}

.p4{
    grid-area: p4;
}

.p5{
    grid-area: p5;
}

.product-line article{
    box-shadow: 0px 0px 50px -35px rgba(0,0,0,0.75);
}

.product-line div{
    background-color: orange;
    color: #000000;
    width: 100%;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.product-line a{ margin: 0; }


/* footer */
footer{
    width: 100%;
    padding: 2rem;
    background-color: black;
}

.footer_article {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between; 
}

footer h3 { 
    color: white;
    margin-bottom: 1rem;
}

footer ul { list-style-type: none; }

footer li {
    display: flex;
    justify-content: flex-start;
}

/* mobil størlse */
@media (max-width: 767px) {
    .hero img{
        object-fit: cover;
        object-position: 65%;
    }
    
    .hero-arc h2 {
        font-size: 2rem;
    }

    .hero-arc button {
        top: 200%;
    }

    header ul {
        display: flex;
        justify-content: center;
    }

    .container header {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        text-align: center;
        margin-top: 1.5rem;

    }

    .p3 {
        display: none;
    }

    .p03 {
        display: block;
        grid-area: p3;
    }

    .product-line{
        grid-template-areas: 
        "p1 p2"
        "p3 p3"
        "p4 p5";
    }

    .footer_article {
        width: 100%;
    }

    footer h3 {
        font-size: 1rem;
    }
}

